<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-up</title>
</head>
<body>
    <div class="container">
    <h1>Sign-up Form</h1>

    <div class="user">
    <label for="mail">Email or Phone</label><br>
    <input type="email" type="number" id="mail" placeholder="Enter Email or Phone">
    </div>

    <div class="password">
      <label for="pass">Password</label><br>
      <input type="password" id="pass" placeholder="Enter password">
    </div>

    <div class="forget">
    <a href="#Forget password">Forget password</a>
    </div>

    <button class="btn">SUBMIT</button>

    <div class="sign_up">
      <p>Don't have an account?</p>
      <a href="#Signup">Sign Up</a>
    </div>
</div>
</body>
</html>